body {
    font-family: 'Muli', "sans-serif";
    background: #fcfcfc;
}

.title h1 {
    font-size: 2.4rem;
}

img.header-image {
    width: 10rem;
}

section.header {
    padding-bottom: 20%;
    padding-top: 4rem;
}

.container {
    width: 80%;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.header h1 {
    margin-top: 0rem;
}

.header-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.header-links li {
    background: #f5f5f5;
}

.header-links li a {
    display: block;
    text-align: center;
    padding: 8px 20px;
    text-decoration: none;
    color: black;
}

.header .title {
    margin-top: 10%;
}

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    /* filter: blur(13px); */
    animation: blur_fog 4s ease-in-out infinite alternate;
    background: url(../images/abs_br_23_try.png) no-repeat center bottom;
}


/* .header {
    background: url(../images/abs_br_23_try.png) no-repeat center bottom;
} */

html,
body {
    height: 100%;
    animation: 0.8s cubic-bezier(0, 0, .18, .98) 0s 1 welcome;
    animation-fill-mode: forwards;
}

@keyframes blur_fog {
    0% {
        filter: blur(20px) brightness(0.9);
    }
    100% {
        filter: blur(10px) brightness(1.0);
    }
}

@keyframes welcome {
    0% {
        transform: rotateX(10deg);
        opacity: 0;
        background: #fcfcfc;
    }
    100% {
        transform: rotateX(0deg);
        opacity: 1;
        background: none;
    }
}